<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="user user-menu">
      <span *ngIf="onLoggedIn(); else notLoggedIn"
        >Olá, {{ onUser().name }} | <a (click)="onLogout()">Sair</a>
      </span>
      <ng-template #notLoggedIn>
        <a (click)="onLogin()">Entrar</a>
      </ng-template>
    </li>
  </ul>
</div>
