<section class="content-header"></section>

<section class="content">
  <section class="invoice">
    <!-- {{ form.valid }}
    {{ form.value | json }} -->

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <span
            class="help-block pull-right has-error-block"
            *ngIf="orderForm.hasError('emailNotMatch')"
            ><i class="fa fa-remove"></i>Emails não conferem!</span
          >
        </div>

        <div class="col-sm-6">
          <mt-input-container errorMessage="Campo obrigatório!" label="Nome">
            <input type="text" class="form-control" name="name" placeholder="Nome" formControlName="name"
              autocomplete="off" />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido!" label="Email">
            <input type="text" class="form-control" name="email" placeholder="E-mail" formControlName="email"
              autocomplete="off" />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido!" label="Nome">
            <input type="text" class="form-control" name="emailConfirmation" placeholder="Confirmação do E-mail"
              formControlName="emailConfirmation" autocomplete="off" />
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6">
          <mt-input-container errorMessage="Campo obrigatório!" label="Endereço">
            <input type="text" class="form-control" name="address" placeholder="Endereço" formControlName="address"
              minLength="5" autocomplete="off" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container
            errorMessage="Campo obrigatório e só aceita números"
            label="Número"
          >
            <input
              type="number"
              class="form-control"
              name="number"
              placeholder="Número"
              formControlName="number"
              autocomplete="off"
              minlength="2"
              pattern="^[0-9]*$"
            />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container>
            <input type="text" class="form-control" placeholder="Complemento" name="optionalAddress"
              formControlName="optionalAddress" autocomplete="optionalAddress" />
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)"
          (remove)="remove($event)"></mt-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" name="paymentOptions" formControlName="paymentOption"></mt-radio>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [delivery]="deliveryInOrder" [itemsValue]="itemsValueInOrder()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <button href="order-summary.html" class="btn btn-success pull-right"
          [disabled]="!orderForm.valid || cartItems().length === 0" (click)="checkOrder(orderForm.value)">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>
  </section>
</section>