<!--INICIO DO CARRINHO-->
<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>
    <h3 class="box-title">Carrinho</h3>
  </div>

  <!-- /.box-header -->
  <div class="box-body">
    <ng-container *ngIf="!items().length; else template">
      <p class="text-center">Seu carrinho está vazio!</p>
    </ng-container>

    <ng-template #template>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr *ngFor="let item of items()" [@row]="rowState">
              <th>({{ item.quantity }}x) {{ item.menuItem.name }}</th>
              <td class="text-right">
                {{ item.value() | currency: "BRL":'symbol' }}
              </td>
              <td class="text-right">
                <a class="btn btn-sm danger" (click)="removeItem(item)">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="text-right">{{ total() | currency: "BRL":'symbol' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="box-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-danger">
            <i class="fa fa-trash" (click)="clear()"></i> Limpar
          </button>
          <a [routerLink]="['/order']" class="btn btn-success"
            ><i class="fa fa-credit-card"></i> Fechar Pedido</a
          >
        </div>
      </div>
    </ng-template>
  </div>
  <!-- FIM DO CARRINHO -->
</div>
