<!-- [ngClass]="{
  'has-success': input.valid && (input.dirty || input.touched),
  'has-error': !input.valid && (input.dirty || input.touched)
}" -->
<div
  class="form-group has-feedback"
  [ngClass]="{
    'has-success': hasSuccess(),
    'has-error': hasError()
  }"
>
  <label class="control-label sr-only" for="inputSuccess"
    ><i class="fa fa-check"></i>{{ label }}</label
  >

  <ng-content></ng-content>

  <span class="help-block" *ngIf="showTip && hasSuccess()"
    ><i class="fa fa-check">&nbsp;</i>Tudo certo!</span
  >
  <span class="help-block" *ngIf="hasError()"
    ><i class="fa fa-remove">&nbsp;</i>{{ errorMessage }}</span
  >
</div>
