<!-- INICIO DO CONTEUDO -->
<div class="col-xs-12 col-sm-6" *ngFor="let r of reviews | async" [@reviewsAppeared]="reviewsState">
  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i>{{r.rating}}</span>
      <div class="user-block">
        <img *ngIf="r.rating >= 4" alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
        <img *ngIf="r.rating >= 3 && r.rating < 4" alt="User Image" class="img-circle" src="assets/img/reactions/soso.png">
        <img *ngIf="r.rating < 3" alt="User Image" class="img-circle" src="assets/img/reactions/pissed.png">
        <span class="username">{{r.name}}</span>
        <span class="description">{{r.date | date: 'dd/MM/yyyy'}}</span>
      </div>
    </div>

    <div class="box-body">
      <p>{{r.comments}}</p>
    </div>
  </div>
</div>

<!--FIM DO CONTEUDO -->